.stopWatchWrapper {
  text-align: center;
  margin-top: 30px;

  .timer {
    font-size: 80px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    .timerElements:after {
      content: ':';
      position: absolute;
      right: -45px;
      top: -6px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
